<button class="btn btn-primary btn-md" routerLink="/create">Thêm sách mới</button>
<hr>
<h3>Có {{ books.length }} cuốn sách</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books ">
      <th scope="row">{{ book.id }}</th>
      <td><a routerLink="/show/{{ book.id }}">{{ book.title }}</a></td>
      <td>{{ book.author }}</td>
      <td>
        <button (click)="deleteBooks(book)" class="btn btn-light">xóa</button> |
        <button routerLink="/edit/{{ book.id }}" class="btn btn-light">sửa</button>
      </td>
    </tr>
  </tbody>
</table>
